{% extends 'global.html.twig' %}

{% block global_head %}
	<title>SecNet</title>
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/css/secnet/main.css">
	{% block style %}{% endblock %}
{% endblock %}

{% block global_body %}

	<nav>
		<div class="nav-wrapper grey">
			<ul class="left hide-on-med-and-down">
				<li><a class="btn-floating waves-effect waves-light red navLink" href="{{ path("home") }}"><i class="material-icons">arrow_back</i></a></li>
				<li class="{{ app.request.get('_route') == 'secnet/home' ? 'active' }}"><a class="navLink" href="{{ path("secnet/home") }}">HOME</a></li>
				<li class="{{ app.request.get('_route') == 'secnet/stats' ? 'active' }}"><a class="navLink" href="{{ path("secnet/stats") }}">STATS</a></li>
				<li class="{{ app.request.get('_route') == 'secnet/loadouts' ? 'active' }}"><a class="navLink" href="{{ path("secnet/loadouts") }}">LOADOUTS</a></li>
			</ul>
			<ul class="right hide-on-med-and-down">
				<li><a class="waves-effect waves-light btn red navLink" href="/logout">LOGOUT</a></li>
			</ul>
			<a href="javascript:null" class="brand-logo right tooltipped" data-position="bottom" data-tooltip="{{secnetCommonData.discord.username}}"><img src="{{secnetCommonData.discord.avatarUrl}}"/></a>
		</div>
	</nav>

	<div id="bodyWrapper">
		{% block body %}{% endblock %}
	</div>

	<script type="text/javascript">
		M.AutoInit();
	</script>

{% endblock %}
